.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads

.env

/src/auto-imports.d.ts
/src/components.d.ts
/src/typed-router.d.ts
*storybook.log
/vite-config.ts.timestamp*

storybook-static/**
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json